@use "../../../../util/functions.scss" as *;

.change-quantity {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--primary);
  font-weight: 700;
  font-size: rem(20);
  position: relative;
}

.quantity-value {
  background: transparent;
  border: none;
  color: var(--very-dark-blue);
  text-align: center;
  font-weight: 700;
  width: auto;
}
