.add-to-cart {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 16px;
}

.quantity {
  background-color: var(--light-grayish-blue);
  height: 54px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

.quantity-value {
  background: transparent;
  border: none;
  color: var(--very-dark-blue);
  text-align: center;
  font-weight: 700;
  width: auto;
}

.add {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 40px 15px -10px var(--primary-pale);
}
