.change-quantiy {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  font-size: 20px;
}
