.main-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
}

.lightbox .lightbox-container {
  position: relative;
  z-index: 2;
}

.lightbox .lightbox-container .thumbnail {
  width: 110px;
  height: 110px;
}

.lightbox .main-image {
  width: 550px;
  height: 550px;
}

.lightbox svg {
  cursor: pointer;
}

.close {
  position: absolute;
  top: -50px;
  right: -20px;
}

.close path:hover, .close path:focus {
  fill: var(--primary);
}

.arrow {
  display: grid;
  place-content: center;
  position: absolute;
  background-color: var(--white);
  border-radius: 50%;
  width: 56px;
  height: 56px;
  top: 275px;
  cursor: pointer;
}

.arrow svg path:hover, .arrow svg path:focus {
  stroke: var(--primary);
}

.prev {
  left: -25px;
}

.prev svg {
  margin-right: 2px;
}

.next {
  right: -25px;
}

#main-image-out {
  cursor: pointer;
}
