@use "../../../../util" as *;

.lightbox {
  position: relative;
  z-index: 2;

  &__main-image {
    width: rem(550);
    aspect-ratio: 1;

    @include breakpoint-down(small) {
      width: 100%;
      max-height: 50vh;
    }
  }

  &__close {
    position: absolute;
    top: rem(-50);
    right: rem(-20);

    @include breakpoint-down(small) {
      display: none;
    }

    path {
      &:hover,
      &:focus {
        fill: var(--primary);
      }
    }
  }

  &__arrow {
    display: grid;
    place-content: center;
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    width: rem(56);
    aspect-ratio: 1;
    top: rem(275);

    @include breakpoint-down(small) {
      width: rem(40);
      top: 50%;
    }

    svg path {
      &:hover,
      &:focus {
        stroke: var(--primary);
      }
    }
  }
}

.prev {
  left: rem(-25);

  @include breakpoint-down(small) {
    left: rem(25);
  }

  svg {
    margin-right: 2px;
  }
}

.next {
  right: rem(-25);

  @include breakpoint-down(small) {
    right: rem(25);
  }
}
