@use "../../../../util/functions.scss" as *;

.lightbox {
  position: relative;
  z-index: 2;

  &__main-image {
    width: rem(550);
    aspect-ratio: 1;
  }

  &__close {
    position: absolute;
    top: rem(-50);
    right: rem(-20);

    path {
      &:hover,
      &:focus {
        fill: var(--primary);
      }
    }
  }

  &__arrow {
    display: grid;
    place-content: center;
    position: absolute;
    background-color: var(--white);
    border-radius: 50%;
    width: rem(56);
    aspect-ratio: 1;
    top: rem(275);

    svg path {
      &:hover,
      &:focus {
        stroke: var(--primary);
      }
    }
  }
}

.prev {
  left: rem(-25);

  svg {
    margin-right: 2px;
  }
}

.next {
  right: rem(-25);
}
