@use "../../../../util" as *;

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: auto;
  border-radius: rem(16);
  object-fit: cover;
  overflow: hidden;

  @include breakpoint-down(small) {
    display: grid;
    grid-template-columns: 100% 100% 100% 100%;
    border-radius: 0;
  }
}

.main-image {
  width: 100%;
  height: auto;
  transition: 0.3s;

  @include breakpoint-down(small) {
    max-height: 50vh;
  }
}
