@use "../../../../util" as *;

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: rem(32);
  align-items: center;

  @include breakpoint-down(medium) {
    padding-top: rem(20);
  }

  &__element {
    max-width: rem(90);
    aspect-ratio: 1;
    border-radius: rem(12);
    overflow: hidden;

    @include breakpoint-down(medium) {
      width: 23%;
    }
  }
}

.lightbox {
  .thumbnails-container {
    &__element {
      width: rem(110);
      aspect-ratio: 1;
    }
  }
}

.selected {
  border: 3px solid var(--primary);
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(255 255 255 /50%);
    z-index: 0;
  }
}

.thumb {
  width: 100%;
  height: 100%;
  position: relative;

  img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: -1;
  }
}
