/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
  --primary: hsl(26, 100%, 55%);
  --primary-pale: hsl(25, 100%, 94%);
  --very-dark-blue: hsl(220, 13%, 13%);
  --dark-grayish-blue: hsl(219, 9%, 45%);
  --grayish-blue: hsl(220, 14%, 75%);
  --light-grayish-blue: hsl(223, 64%, 98%);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --light-background: hsl(0, 0%, 25%);
  --par: 1rem;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  background-color: var(--white);
  color: var(--very-dark-blue);
  font-family: "Kumbh Sans", sans-serif;
}
button,
input {
  font-family: "Kumbh Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

p {
  font-size: var(--par);
}

.container {
  max-width: 1110px;
  margin: auto;
  box-sizing: border-box;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0 35px 0;
  border-bottom: 1px solid var(--grayish-blue);
}

.nav-container-left,
.nav-container-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-container-left {
  gap: 60px;
}

.nav-container-left img {
  max-width: 140px;
}

.nav-container-right {
  gap: 45px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 34px;
}

nav ul li a {
  text-decoration: none;
  color: var(--dark-grayish-blue);
  font-size: 16px;
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;
}

.cart-logo {
  width: 22px;
  height: auto;
}

main {
  padding: 90px 48px 0 48px;
  display: flex;
  flex-direction: row;
  gap: 124px;
}

.product-image-container {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.main-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
}

.thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 12px;
}

.product-info-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.overtitle {
  color: var(--primary);
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.product-name {
  font-weight: 700;
  font-size: 36px;
  margin-top: 28px;
  line-height: 125%;
  margin-bottom: 50px;
}

.product-description {
  font-size: 16px;
  color: var(--dark-grayish-blue);
  line-height: 150%;
  margin-bottom: 32px;
}

.price-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  margin-bottom: 12px;
}

.price-container span {
  font-size: 12px;
  font-weight: 700;
  color: var(--primary);
  background-color: var(--primary-pale);
  padding: 7px 9px;
  border-radius: 6px;
}

.price {
  font-weight: 700;
  font-size: 26px;
}

.previous-price {
  font-size: 14px;
  color: var(--grayish-blue);
  text-decoration: line-through;
  margin-bottom: 20px;
}

form {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 16px;
}

.quantity {
  background-color: var(--light-grayish-blue);
  height: 54px;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 50px 1fr;
}

.quantity button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--primary);
  font-weight: 700;
  font-size: 20px;
}

.quantity input {
  background: transparent;
  border: none;
  color: var(--very-dark-blue);
  text-align: center;
  font-weight: 700;
  width: auto;
}

.add {
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0px 40px 15px -10px var(--primary-pale);
}
