@use "../../../../util" as *;

.add-to-cart {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: rem(16);

  @include breakpoint-down(medium) {
    grid-template-columns: 1fr;
  }

  &__quantity {
    background-color: var(--light-grayish-blue);
    height: rem(54);
    border-radius: rem(5);
    display: grid;
    grid-template-columns: 1fr rem(50) 1fr;
  }

  &__add {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    color: var(--white);
    border: none;
    font-size: rem(16);
    border-radius: rem(6);
    box-shadow: 0 rem(40) rem(15) rem(-10) var(--primary-pale);
    position: relative;

    @include breakpoint-down(medium) {
      height: rem(54);
    }
  }

  &__icon {
    padding-right: rem(5);

    path {
      fill: white;
    }
  }
}
