.add-to-cart {
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 16px;
}

.add {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary);
  color: var(--white);
  border: none;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 40px 15px -10px var(--primary-pale);
  position: relative;
}

.cart-white {
  padding-right: 5px;

  path {
    fill: white;
  }
}
