@use "../../../../util" as *;

.product-details {
  &__overtitle {
    color: var(--primary);
    font-size: rem(14);
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: rem(2);
  }

  &__name {
    font-size: rem(36);
    margin: rem(38) 0 rem(50) 0;
    line-height: 125%;

    @include breakpoint-down(small) {
      margin: rem(24) 0;
    }
  }

  &__description {
    font-size: rem(16);
    color: var(--dark-grayish-blue);
    line-height: 150%;
    margin-bottom: rem(32);
  }

  &__price-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: rem(10);
    margin-bottom: rem(12);

    @include breakpoint-down(small) {
      flex-direction: row;
      gap: 0;
      justify-content: space-between;
      padding-bottom: rem(12);
    }
  }

  &__previous-price {
    font-size: rem(14);
    color: var(--grayish-blue);
    text-decoration: line-through;
    margin-bottom: rem(35);
    align-self: flex-start;

    @include breakpoint-down(small) {
      margin: 0 rem(24) 0 0;
      font-size: rem(16);
      align-self: center;
    }
  }
}

.current-price {
  display: flex;
  flex-direction: row;
  gap: rem(20);
  align-self: flex-start;

  &__value {
    font-weight: 700;
    font-size: rem(26);
  }

  &__discount {
    font-size: rem(12);
    font-weight: 700;
    color: var(--primary);
    background-color: var(--primary-pale);
    padding: rem(7) rem(9);
    border-radius: rem(6);
  }
}
