@use "../../../util/functions.scss" as *;

.cart-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(24);

  &__thumb {
    width: rem(50);
    aspect-ratio: 1;
    border-radius: 6;
  }

  p {
    font-weight: 400;
    color: var(--dark-grayish-blue);

    &:first-child {
      padding-bottom: rem(8);
    }

    span {
      font-weight: 700;
      color: var(--very-dark-blue);
      padding-left: rem(12);
    }
  }
}
