@use "../../../util" as *;

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: rem(120);
  border-bottom: 1px solid var(--grayish-blue);

  @include breakpoint-down(medium) {
    margin: 0 rem(36);
  }

  @include breakpoint-down(small) {
    height: rem(68);
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(45);
    position: relative;
    width: rem(360);
    justify-content: flex-end;

    @include breakpoint-down(medium) {
      gap: rem(20);
    }
  }
}

.avatar {
  width: rem(52);
  aspect-ratio: 1;
  border-radius: 50%;

  @include breakpoint-down(medium) {
    width: rem(35);
  }

  &:hover {
    border: 2px solid var(--primary);
  }
}
