.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: 120px;
  border-bottom: 1px solid var(--grayish-blue);

  &-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 45px;
    position: relative;
    width: 360px;
    justify-content: flex-end;
  }
}

.avatar {
  width: 52px;
  height: 52px;
  border-radius: 50%;

  &:hover {
    border: 2px solid var(--primary);
  }
}
