@use "../../../util/functions.scss" as *;

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  height: rem(120);
  border-bottom: 1px solid var(--grayish-blue);

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(45);
    position: relative;
    width: rem(360);
    justify-content: flex-end;
  }
}

.avatar {
  width: rem(52);
  aspect-ratio: 1;
  border-radius: 50%;

  &:hover {
    border: 2px solid var(--primary);
  }
}
