@use "../../../util" as *;

.nav-container {
  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: rem(60);
    height: 100%;

    @include breakpoint-down(medium) {
      gap: rem(12);
    }
  }
}

.nav-links {
  display: flex;
  height: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: rem(34);

  @include breakpoint-down(medium) {
    gap: rem(16);
  }

  &__element {
    display: flex;
    align-items: center;
    height: 100%;

    &:hover {
      border-bottom: 4px solid var(--primary);
    }

    a {
      text-decoration: none;
      color: var(--dark-grayish-blue);
      font-size: rem(16);

      @include breakpoint-down(medium) {
        font-size: rem(14);
      }

      &:hover {
        font-weight: 700;
      }
    }
  }
}

.logo-container {
  @include breakpoint-down(medium) {
    width: rem(100);
  }

  &__logo {
    width: rem(140);
    height: rem(20);

    @include breakpoint-down(medium) {
      transform: scale(0.6) translateX(rem(-30));
    }
  }
}
