@use "../../../util/functions.scss" as *;

.opened-cart {
  display: none;
  position: absolute;
  width: 100%;
  height: auto;
  top: rem(80);
  padding: rem(28) 0;
  background-color: var(--white);
  z-index: 1;
  border-radius: rem(12);
  box-shadow: 0 rem(11) rem(40) rem(-10) var(--dark-grayish-blue);

  h2 {
    padding: 0 0 rem(24) rem(24);
  }

  &__items-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--grayish-blue);
    padding: 0 rem(24);
  }
}

.empty {
  min-height: rem(188);
  display: grid;
  place-content: center;
  font-weight: 700;
}

.checkout {
  background-color: var(--primary);
  color: var(--white);
  width: 100%;
  border-radius: rem(12);
  margin-top: rem(24);
  padding: rem(22) 0;
  text-align: center;
  font-weight: 700;
}
