.opened-cart {
  display: none;
  position: absolute;
  width: 100%;
  height:  auto;
  top: 80px;
  padding: 28px 0;
  background-color: var(--white);
  z-index: 1;
  border-radius: 12px;
  box-shadow: 0 11px 40px -10px var(--dark-grayish-blue);
}

.opened-cart h2 {
  font-weight: 700;
  padding: 0 0 24px 24px;
}

.cart-items-container {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--grayish-blue);
  padding: 0 24px;
}

.empty {
  min-height: 188px;
  display: grid;
  place-content: center;
  font-weight: 700;
}