.main-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
}

.thumbnail {
  width: 90px;
  height: 90px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.selected {
  border: 3px solid var(--primary);
}

.selected img {
  opacity: 0.5;
}

.thumbnail img {
  width: 100%;
  height: 100%;
}

.lightbox .lightbox-container {
  position: relative;
}

.lightbox .lightbox-container .thumbnail {
  width: 110px;
  height: 110px;
}

.lightbox .main-image {
  width: 550px;
  height: 550px;
}

.lightbox span {
  position: absolute;
  top: -30px;
  right: -30px;
}

.lightbox span img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

#main-image-out {
  cursor: pointer;
}
