.main-image {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  object-fit: cover;
}

.thumbnails-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 32px;
  align-items: center;
}

.lightbox .lightbox-container {
  position: relative;
  z-index: 2;
}

.lightbox .lightbox-container .thumbnail {
  width: 110px;
  height: 110px;
}

.lightbox .main-image {
  width: 550px;
  height: 550px;
}

.lightbox span {
  position: absolute;
  top: -50px;
  right: -60px;
  cursor: pointer;
}

.lightbox svg path:hover, .lightbox svg path:focus {
  fill: var(--primary);
}

#main-image-out {
  cursor: pointer;
}
